<% if seller_signed_in? %> 
 <div> Welcome <%= current_seller.email %> </div> 
  <%= button_to "Sign out", destroy_seller_session_path, method: :delete %> 
<% else %>
  <%= button_to "Sign in", new_seller_session_path %> 
<% end %>
<h1>Hello Auto parts seller!</h1>
